html,
body {
  height: 100%;
  width: 100%;

}

.container {
  width: 70%;
  background-color: rgba(234, 39, 25, 0.4);
  height: 200px;
  margin: 100px auto;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 50px;
}

.title {
  font-size: 40px;
  color: red;
  margin-top: 5%;
}